[submodule "developer-templates/examples/foundry/lib/eas-contracts"]
	path = developer-templates/examples/foundry/lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
[submodule "developer-templates/examples/foundry/lib/openzeppelin-contracts"]
	path = developer-templates/examples/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
